<div class="navbar">
    <div class="navbar-inner">
        <form class="navbar-search pull-left" method="GET">
            <input type="text" class="search-query" name="search" placeholder="Поиск" value="{{ search }}" />
        </form>

        {% if catalog.settingsFormTypeName or category and category.type %}
            <a href="#" class="btn pull-right" id="btnAddItem"><i class="icon-plus"></i> Добавить товар</a>
        {% endif %}
    </div>
</div>
