.ns-ie-boolean {
	cursor: pointer;
	padding: 3px 3px 3px 0;
	text-align: center;
}
.ns-ie-boolean .border {
	border: solid 1px transparent;
	border-radius: 3px;
	padding: 3px;
	position: relative;
}
.ns-ie-boolean:hover .border {
	border-color: #ccc;
}
.ns-ie-boolean i[data-value="1"] {
	opacity: 0.7;
}
.ns-ie-boolean i[data-value="0"] {
	opacity: 0.1;
}
.ns-ie-text a {
	position: relative;
	top: 3px;
}
.ns-ie-text input {
	display: none;
	height: 16px;
	margin: 0 -10px 0 0;
	position: relative;
	left: -7px;
	width: auto;
}
.ns-ie-text.ns-ie-price {
	text-align: right;
}
.ns-ie-text.ns-ie-price input {
	left: 7px;
	margin-right: 0;
	text-align: right;
	width: 60px;
}